body , html
{
    direction:rtl ;
    font-family: 'Cairo', sans-serif !important;
    overflow-x: hidden;
}
.home_link
{
    margin-left: 40px;
    margin-right: 40px;
}

.footer-widget{
    text-align: right;
}
.main-menu .main-menu__list > li > a, .stricky-header .main-menu__list > li > a
{
    font-family: 'Cairo', sans-serif !important;
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Cairo', sans-serif !important;
}

.service-one__box-content h3
{
    font-weight: 500 !important;
}
.about-one__tagline p
{
    font-family: 'Cairo', sans-serif !important;
}
.about-one__count ,
.block-title__image
{
display: none;
}
.about-one__content
{
    text-align: right;
}
.about-one__content .block-title{

    text-align: right !important;
}
.call-to-action__three-content
{
    text-align: right;
}
.about-three__content
{
    text-align: right;
}
.about-three__list
{
    flex-direction: column;
}
.goal ,
.target
{
    font-size: 20px;
    font-weight: bold;
    margin-top: 13px;
}
.about-three__list
{
    padding: 0 ;
}
.call-to-action h3{
    text-align: right;
    font-size: 28px;
    margin-right: 27px;
    line-height: 48px;
}
.contact-one__content
{
    text-align: right;
}
@media (min-width: 1200px)
{
.about-one__content {
    margin-top: 98px;
    margin-right: 7px;
    padding-right: 46px;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 0;
}
}

@media (min-width: 1200px)
{
.about-one__tagline p {
    font-size: 20px;
}
}
.call-to-action__two h3
{
    font-size: 35px;
}
.footer-widget__links ,
.footer-widget__post
{
    margin: 0 ;
    padding: 0 ;
}
.form-group
{
    text-align: right;
}

.submit_button
{
    float: right;
}
.langs
{
    margin-right:10px;
}
.blog-details__content
{
    text-align: right;
}
